<html>
  <head>
    <title>Personal Library | al-script x freeCodeCamp.org</title>
    <link
      rel="icon"
      type="image/png"
      href="/public/favicon.png"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/style.css" />

    <style>
      code {
        background-color: whitesmoke;
      }
    </style>
  </head>
  <body>
    <!-- Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <div>
      <!-- Top navbar -->
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a
            class="navbar-brand"
            href="https://replit.com/@al-script"
            target="_blank"
            rel="noopener noreferrer"
            ><div class="display-5">AS al-script</div></a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://Metric-Imperial-Converter-freeCodeCamp.al-script.repl.co"
                  target="_top"
                  rel="noopener noreferrer"
                  >Metric-Imperial Converter</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://Issue-Tracker-freeCodeCamp.al-script.repl.co"
                  target="_top"
                  rel="noopener noreferrer"
                  >Issue Tracker</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="https://Personal-Library-freeCodeCamp.al-script.repl.co"
                  target="_top"
                  rel="noopener noreferrer"
                  >Personal Library</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://Sudoku-Solver-freeCodeCamp.al-script.repl.co"
                  target="_top"
                  rel="noopener noreferrer"
                  >Sudoku Solver</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://American-British-Translator-freeCodeCamp.al-script.repl.co"
                  target="_top"
                  rel="noopener noreferrer"
                  >American British Translator</a
                >
              </li>
            </ul>
            <span class="navbar-text">
              <a
                class="navbar-text"
                href="https://www.freecodecamp.org/learn/quality-assurance/#quality-assurance-projects"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="https://design-style-guide.freecodecamp.org/downloads/fcc_secondary_large.svg"
                  alt=""
                  width="218.75"
                  height="25"
                  class="d-inline align-text-top"
                />
              </a>
              <a
                class="nav-link"
                href="https://www.freecodecamp.org/learn/quality-assurance/#quality-assurance-projects"
                target="_blank"
                rel="noopener noreferrer"
                >Quality Assurance Projects</a
              >
            </span>
          </div>
        </div>
      </nav>

      <!-- Responsive container -->
      <div class="d-flex min-vh-100">
        <div class="container d-flex align-items-center justify-content-center">
          <div class="col-12 p-3">
            <div class="row p-3">
              <div class="display-1 page-title">Personal Library</div>

              <br />

              <div class="card shadow p-1 gy-3">
                <div class="card-body">                  
                  <div id="sampleposting">
                    
                    <div class="display-4 fs-3 fw-semibold pb-2">Test API responses</div>
                    
                    <form action="/api/books" method="post" class="align-items-center justify-content-center">
                      <h4>Test post to /api/books</h4>
                      <label for="title">Book Title</label>
                      <input
                        class="form-control mb-3"
                        type="text"
                        id="title"
                        name="title"
                        value=""
                      />
                      <input class="btn btn-primary mb-1" type="submit" value="Submit" />
                    </form>
                    
                    <form
                      action=""
                      method="post"
                      id="commentTest"
                      class="align-items-center justify-content-center"
                    >
                      <h4>Test post to /api/books/{bookid}</h4>
                      <label for="idinputtest">BookId to comment on</label>
                      <input
                        class="form-control mb-3"
                        type="text"
                        name="id"
                        value=""
                        id="idinputtest"
                      />
                      <label for="comment">Comment</label>
                      <input
                        class="form-control mb-3"
                        type="text"
                        id="comment"
                        name="comment"
                        value=""
                      />
                      <input class="btn btn-primary mb-1" type="submit" value="Submit" />
                    </form>
                    
                  </div>
                </div>
              </div>

              <div class="card shadow p-1 gy-3">
                <div class="card-body">
                  <div id="sampleui">
                    
                    <div class="display-4 fs-3 fw-semibold pb-2">Sample Front-End</div>
                    
                    <form id="newBookForm" class="align-items-center justify-content-center">
                      <label for="bookTitleToAdd">New Book Title</label>
                      <input
                        class="form-control mb-3"
                        type="text"
                        id="bookTitleToAdd"
                        name="title"
                        placeholder="Moby Dick"
                      />
                      <button class="btn btn-primary mb-3" type="submit" value="Submit" id="newBook">
                        Submit New Book!
                      </button>
                    </form>
                    
                    <div id="display"></div>
                    
                    <div id="bookDetail" class="mb-3 container row align-items-center justify-content-center">
                      <p id="detailTitle">
                        Select a book to see it's details and comments
                      </p>
                      <ol id="detailComments"></ol>
                    </div>
                    
                    <button class="btn btn-primary mb-3" id="deleteAllBooks">Delete all books...</button>
                    
                  </div>
                </div>
              </div>

              <script
                src="https://code.jquery.com/jquery-2.2.1.min.js"
                integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
                crossorigin="anonymous"
              ></script>
              <script src="/public/client.js"></script>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <nav class="navbar bg-light shadow-sm">
        <div class="container-fluid">
          <a
            class="navbar-brand display-6"
            href="https://replit.com/@al-script"
            target="_blank"
            rel="noopener noreferrer"
            >al-script x freeCodeCamp</a
          >
          <span class="navbar-text">
            <a class="navbar-brand display-6 d-inline align-text-center"
              >Built with</a
            >
            <a
              class="navbar-brand"
              href="https://nodejs.org/en/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="https://seeklogo.com/images/N/nodejs-logo-FBE122E377-seeklogo.com.png"
                alt="Node.js"
                width=""
                height="24"
                class="d-inline align-text-top"
              />
            </a>
            <a
              class="navbar-brand"
              href="https://expressjs.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="https://www.pngfind.com/pngs/m/136-1363736_express-js-icon-png-transparent-png.png"
                width=""
                height="24"
                class="d-inline align-text-top"
              />
            </a>
            <a
              class="navbar-brand"
              href="https://www.mongodb.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="https://www.svgrepo.com/show/331488/mongodb.svg"
                alt="MongoDB"
                width=""
                height="24"
                class="d-inline align-text-top"
              />
            </a>

            <!--             <a
              class="navbar-brand"
              href="https://mochajs.org"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mocha_logo.svg/1200px-Mocha_logo.svg.png"
                width=""
                height="24"
                class="d-inline align-text-top"
              />
            </a> -->
            <a
              class="navbar-brand"
              href="https://www.chaijs.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="https://www.chaijs.com/img/chai-logo-small.png"
                width=""
                height="24"
                class="d-inline align-text-top"
              />
            </a>

            <a
              class="navbar-brand"
              href="https://getbootstrap.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg"
                alt="Bootstrap"
                width=""
                height="24"
                class="d-inline align-text-top"
              />
            </a>
          </span>
        </div>
      </nav>

      <script>
        /*
         *  For #sampleposting to update form action url to test inputs book id
         */
        $(function () {
          $("#commentTest").submit(function () {
            let id = $("#idinputtest").val();
            $(this).attr("action", "/api/books/" + id);
          });
        });
      </script>
    </div>
  </body>
</html>
